<div class="container">
	<br>

	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Nova prova</li>
		</ol>
	</nav>

	<div class="mt-3">

		<div class="col-xs-12 ">

			<form
			class="animated fadeIn"
			(ngSubmit)="newProva()"
			#newProvaForm="ngForm">

				<div class="row d-flex clearfix">
					<div class="col">
						

						<!-- Add button -->
						<button 
						style="margin:35px 0px;"
						type="submit" 
						class="btn btn-success float-right"
						[disabled]="!newProvaForm.valid">
							Afegir
						</button>

						<h1 style="display:inline;" class="float-left">Nova prova</h1>

					</div>
				</div>


				<dl class="form-group row">
					<div class="col-xs-12 col-sm-6">
						<dt>
							<label class="form-label" for="nom-prova">Nom de la prova</label>
						</dt>
						<dd>
							<input
							[(ngModel)]="prova.nom"
							name="nom"
							type="text" 
							class="form-control" 
							id="nom-prova"
							required>
						</dd>
					</div>
					<div class="col-xs-12 col-sm-6">
						<dt>
							<label class="form-label" for="data-prova">Data de la prova</label>
						</dt>
						<dd>
							<div class="form-group">
								<div class="input-group">
									<input
									[(ngModel)]="prova.data"
									name="data"
									type="text" 
									class="form-control" 
									bsDatepicker
									required
									#dp="bsDatepicker" 
									[bsConfig]="bsConfig">
									<div class="input-group-btn">
										<button
										type="button"
										class="btn btn-outline-success" 
										(click)="dp.show()">
											Data
										</button>
									</div>
								</div>
							</div>
						</dd>
					</div>
				</dl>
				<dl class="form-group row">
					<div class="col">
						<dt>
							<label class="form-label" for="contingut-prova">Continguts avaluats</label>
						</dt>
						<dd>
							<tag-input
							[(model)]="continguts_avaluats"
							id="continguts-prova"
							name="continguts"
							placeholder="Afegir continguts ..."
							></tag-input>
						</dd>
					</div>
				</dl>


				<dl class="form-group row">
					<div class="col-xs-12 col-md-6">
						<dt>
							<label class="form-label" for="curs-prova">Assignatura</label>
						</dt>
						<dd>
							<select 
							class="form-control" 
							id="assignatura-prova"
							name="prova.assignatura"
							[(ngModel)]="assignaturaId" 
							(ngModelChange)="toAssignatura()"
							required>
								<option *ngFor="let assignatura of assignatures" [ngValue]="assignatura.id">{{ assignatura.nom }}</option>
							</select>
						</dd>
					</div>
					<div class="col-xs-12 col-md-6">
						<dt>
							<label class="form-label" for="curs-prova">Avaluació</label>
						</dt>
						<dd>
							<select 
							class="form-control" 
							id="avaluacio-prova"
							name="prova.avaluacio"
							[(ngModel)]="avaluacioId"
							(ngModelChange)="toAvaluacio()"
							required>
								<option 
								*ngFor="let avaluacio of assignaturaSelected?.assignatura_avaluacions"
								[ngValue]="avaluacio?.id">{{ avaluacio?.nom }}</option>
							</select>
						</dd>
					</div>
				</dl>
				<dl *ngIf="assignaturaSelected?.id>0">
					<div class="row" *ngIf="noAval==true">
						<div class="col">
							<div class="alert alert-warning text-center" style="padding:20px 0px;" role="alert">
								No hi ha cap avaluació. Heu de crear primer una avaluació per poder afegir-hi proves.
							</div>
						</div>
					</div>
				</dl>
				<dl class="" *ngIf="avaluacioSelected?.id>0">

					<div class="form-group row">

						<div class="col" *ngIf="avaluacioSelected.proves_avaluacio?.length==0">
							<dt>
								<label class="form-label" for="curs-prova">Altres proves d'aquesta avaluació</label>
							</dt>
							<dd>
								<div class="alert alert-warning text-center" role="alert">
									No hi ha cap prova
								</div>
							</dd>
						</div>

						<div class="col" *ngIf="avaluacioSelected.proves_avaluacio?.length>0">
							<dt>
								<label class="form-label" for="curs-prova">Altres proves d'aquesta avaluació</label>
							</dt>
							<dd style="margin-bottom: 30px;">
								<table class="table table-sm table-hover">
									<thead>
										<tr>
											<th>Prova</th>
											<th>Data</th>
											<th>
												<span class="float-right">
													Pes
												</span>
											</th>
											<th>
												<span class="float-right">
													Nota mitja
												</span>
											</th>
										</tr>
									</thead>
									<tbody>
										<!-- Proves rows -->
										<tr *ngFor="let prova of avaluacioSelected?.proves_avaluacio">
											<td>{{ prova?.nom }}</td>
											<td>{{ prova?.data | date }}</td>
											<td>
												<span class="float-right">
													{{ prova?.pes_total | percent: '1.0-0' }}
												</span>
											</td>
											<td *ngIf="prova?.nota_mitja">
												<span class="float-right">
													{{ prova?.nota_mitja | number: '1.2-2' }} / {{ prova?.nota_total }}
												</span>
											</td>
											<td *ngIf="!prova?.nota_mitja">
												<span class="badge badge-warning float-right" style="padding-top: 6px; padding-bottom: 6px;">Pendent</span>
											</td>
										</tr>
									</tbody>
								</table>
							</dd>
							<hr>
						</div>

					</div>

				</dl>
				
				<dl class="form-group row" *ngIf="avaluacioSelected?.id>0">
					<hr>
					<div class="col-xs-12 col-md-6">
						<dt>
							<label class="form-label" for="pes-prova">Pes de la prova <span style="font-weight: 400;">(%)</span></label>
						</dt>
						<dd>
							<input
							[(ngModel)]="prova.pes_total"
							name="pes_total"
							type="number" 
							class="form-control" 
							id="pes-prova" 
							placeholder="Pes en %" 
							value="10"
							required>
						</dd>
					</div>
					<div class="col-xs-12 col-md-6">
						<dt>
							<label class="form-label" for="puntuacio-max">Puntuació màxima</label>
						</dt>
						<dd>
							<input 
							[(ngModel)]="prova.nota_total"
							name="nota_total"
							type="number" 
							class="form-control" 
							id="puntuacio-max" 
							placeholder="Puntuació màxima"
							required>
						</dd>
					</div>
				</dl>


				<!-- <div class="mt-3">
					<h4>Puntuacions</h4>
				</div> -->

				
				
				<dl class="form-group" *ngIf="avaluacioSelected?.id>0">
					<dt>
						<label class="form-label" for="puntuacions-prova">Puntuacions</label>
					</dt>
					<dd>
						<div *ngIf="!assignaturaId">
							<div class="alert alert-secondary" role="alert">
								Seleccioneu una assignatura.
							</div>
						</div>
						<div *ngIf="assignaturaId">
							<div *ngIf="alumnesSelected">

								<div class="row" *ngFor="let classe of classesAlumnes">
									<div class="col">

										<h5>{{ classe.__unicode__ }}</h5>

										<div class="row">
											<div class="col">
												<label class="form-label" style="color: #868e96;;">Alumne</label>
											</div>
											<div class="col">
												<label class="form-label" style="color: #868e96;;">Nota</label>
											</div>
										</div>
										<div *ngFor="let alumne of classe.alumnes; let in=index" class="form-group row" style="margin-bottom: 5px;">
											<span class="col" style="color: #0275d8; padding: auto">{{alumne.nom}} {{alumne.primer_cognom}} {{alumne.segon_cognom}}</span>
											<div class="col">
												<div 
												class="input-group">
													<input 
													[(ngModel)]="alumne.nota"
													name="notes-{{alumne.id}}"
													type="number" 
													class="form-control form-control-sm" 
													id="puntuacio">
													<span 
													class="input-group-addon" 
													id="basic-addon2">
														<small>
															/{{ prova.nota_total}}
														</small>
													</span>
												</div>
											</div>
										</div>

									</div>
								</div>

							</div>
						</div>




								
					</dd>
				</dl>
					

				<hr>
				<!-- <br> -->

				<!-- Add button -->
				<button 
				type="submit" 
				class="btn btn-success float-left"
				[disabled]="!newProvaForm.valid">
				Afegir
				</button>
				
				<!-- Cancelar -->
				<button 
				type="button" 
				class="btn btn-secondary float-right"
				routerLink="/assignatures/" 
				routerLinkActive="active">
				Cancel·lar
				</button>

			</form>
		</div>
			

	</div>
</div>



<!-- <div class="row">
<div class="col">
	<label class="form-label" style="color: #868e96;;">Alumne</label>
</div>
<div class="col">
	<label class="form-label" style="color: #868e96;;">Nota</label>
</div>
</div>
<div *ngFor="let alumne of alumnesSelected; let in=index" class="form-group row" style="margin-bottom: 5px;">
<span class="col" style="color: #0275d8; padding: auto">{{alumne.nom}} {{alumne.primer_cognom}} {{alumne.segon_cognom}}</span>
<div class="col">
	<div 
	class="input-group">
		<input 
		[(ngModel)]="alumne.nota"
		name="notes-{{alumne.id}}"
		type="number" 
		class="form-control form-control-sm" 
		id="puntuacio">
		<span 
		class="input-group-addon" 
		id="basic-addon2">
			<small>
				/{{ prova.nota_total}}
			</small>
		</span>
			</div>
		</div>
	</div>
</div>
<div *ngIf="alumnesSelected?.length == 0">
<div class="alert alert-warning" role="alert">
Cap alumne assignat a {{assignaturaSelected.nom}}. Feu click aquí per afegir alumnes a aquesta assignatura.
</div>
</div>
</div> -->