
<!-- 
	This is an asyncronous request so that means that basically it's going to wrap the data and it is going to change this.video in real time. So it is posible that while the template is loading, the get request has not finished to get the data from the backend. 
-->

<div class="container">

	<div *ngIf="!assignatura">
		<p>Loading ...</p>
	</div>

	<div *ngIf="assignatura">

		<br>

		<nav aria-label="breadcrumb" role="navigation">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
				<li class="breadcrumb-item" ><a routerLink="/assignatures/" routerLinkActive="active">Assignatures</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ assignatura.nom }}</li>
			</ol>
		</nav>

		<!-- Edit button -->
		<button 
		type="button" 
		class="btn btn-secondary float-right"
		routerLink="/assignatures/{{ assignaturaId }}/edit" 
		routerLinkActive="active">
		Editar
		</button>
		
		<!-- Title -->
		<div class="mt-3">
			<h1>
				{{ assignatura.nom }}
				<small class="text-muted" style="font-size: 20px;">
					Curs {{ assignatura.curs }}
				</small>
			</h1>
			<!-- <p>Curs <a [routerLink]="['/']">{{ assignatura.curs }}</a></p> -->
		</div>

		<div class="row">

			<div class="col-3">
				<div class="list-group">
					<a 
					*ngFor="let avaluacio of assignatura.assignatura_avaluacions"
					[id]="avaluacio.id"
					(click)="onChangeAvaluacio($event)"
					class="list-group-item list-group-item-action clickable">
						Avaluació {{ avaluacio.nom }}						
					</a>
				</div>
				<div *ngIf="assignatura.assignatura_avaluacions.length==0" class="text-center">
					<div class="alert alert-warning" role="alert" style="padding: 20px 20px;">
						No hi ha cap avaluació. Feu click <a class="alert-link clickable" [routerLink]="['/proves','add']">aquí</a> per afegir-ne.
					</div>
				</div>
			</div>

			<div class="col-9">

				<hr style="margin-top: 0px;">

				<!-- Pills -->
				<ul class="nav nav-pills" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="proves-tab" data-toggle="tab" href="#proves" role="tab" aria-controls="proves" aria-selected="true">Proves</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="alumnes-tab" data-toggle="tab" href="#alumnes" role="tab" aria-controls="alumnes" aria-selected="false">Resultats</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="professors-tab" data-toggle="tab" href="#professors" role="tab" aria-controls="professors" aria-selected="false">Professors</a>
					</li>
				</ul>

				<!-- <hr> -->

				<div style="margin-top: 20px;" class="tab-content" id="myTabContent">

					<!-- Proves - list -->
					<div class="tab-pane fade show active" id="proves" role="tabpanel" aria-labelledby="proves-tab">
						<div *ngIf="proves?.length>0" class="table-responsive">
							<table class="table table-sm table-hover">
								<thead>
									<tr>
										<th>Prova</th>
										<th>Data</th>
										<th>
											<div *ngIf="prova_avaluacio.pes_total == 1">
												Pes prova
											</div>
											<div *ngIf="prova_avaluacio.pes_total != 1">
												<ng-template #popTemplate><div [innerHtml]="html"> </div></ng-template>
												<span [tooltip]="popTemplate">
													Pes prova
												</span>
											</div>
										</th>
										<th>
											<span class="float-right">
												Puntació mitja
											</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let prova of proves">
										<td><a routerLink="/assignatures/{{ assignaturaId }}/{{ prova.id }}" routerLinkActive="active">{{ prova.nom }}</a></td>
										<td>{{ prova.data | date }}</td>
										<td>
											<div *ngIf="prova_avaluacio.pes_total == 1">
												{{ prova.pes_total | percent:'0.0-1' }}
											</div>
											<div *ngIf="prova_avaluacio.pes_total != 1">
												<span class="text-danger">{{ prova.pes_total | percent:'0.0-1' }}</span>
											</div>
										</td>
										<td *ngIf="prova.nota_mitja">
											<span class="float-right bold">
												{{ prova.nota_mitja | number:'1.2-2'}}<span class="text-muted"><small> /{{ prova.nota_total}}</small></span>
											</span>
										</td>
										<td *ngIf="!prova.nota_mitja">
											<span class="badge badge-warning float-right" style="padding-top: 6px; padding-bottom: 6px;">Pendent</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- <div class="row">
							<div *ngIf="proves?.length==0" class="col-12 text-center">
								<div class="alert alert-warning" role="alert">
									No hi ha cap prova. Feu click <a class="alert-link clickable" [routerLink]="['/proves','add']">aquí</a> per afegir-ne.
								</div>
							</div>
						</div>  -->
					</div><!-- Proves - list -->

					<!-- Alumnes - list -->
					<div class="tab-pane fade" id="alumnes" role="tabpanel" aria-labelledby="alumnes-tab">


						<div *ngFor="let classe of classes">
							<h3>Classe {{ classe.nom }}</h3>

							<div *ngIf="alumnes" class="table-responsive">
								<table class="table table-sm table-hover">
									<thead>
										<tr>
											<th>Alumne</th>
											<th *ngFor="let prova of proves">
												<span class="float-right">
													<!-- <span style="font-weight: 400;" class="float-right text-muted">{{ prova.pes_total | percent:'0.0-1' }}</span>
													<br> -->
													{{ prova.nom }} <span class="text-muted" style="font-weight: 400;"><small>({{ prova.pes_total | percent:'0.0-1' }})</small></span>
												</span>
											</th>
											<th>
												<span class="float-right">
													<div *ngIf="prova_avaluacio.pes_total == 1">
														Total <span class="text-muted" style="font-weight: 400;"><small>({{ prova_avaluacio.pes_total | percent:'0.0-1' }})</small></span>
													</div>
													<div *ngIf="prova_avaluacio.pes_total != 1">
														<span [tooltip]="popTemplate">
															Total <span class="text-danger" style="font-weight: 400;"><small>({{ prova_avaluacio.pes_total | percent:'0.0-1' }})</small></span>
														</span>
													</div>
												</span>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let alumne of classe.alumne_classe">
											<td>
												<a 
												routerLink="/alumnes/{{ alumne.id }}" routerLinkActive="active">
													{{ alumne.nom }} {{ alumne.primer_cognom }} {{ alumne.segon_cognom }}
												</a>
											</td>
											<td *ngFor="let prova of proves">
												<div *ngFor="let puntuacio of prova.notes_prova">
													<div *ngIf="puntuacio.alumne == alumne.id; then thenBlock else elseBlock">...</div>
													<ng-template #thenBlock>
														<div *ngIf="puntuacio.nota">
															<span class="float-right">
																{{ puntuacio.nota | number:'0.2-2' }}<span class="text-muted"><small> /{{ prova.nota_total}}</small></span>
															</span>
														</div>
													</ng-template>
												</div>
											</td>
											<td>
												<div *ngFor="let puntuacio of prova_avaluacio?.notes_prova">
													<div *ngIf="puntuacio.alumne == alumne.id; then thenBlock else elseBlock">...</div>
													<ng-template #thenBlock>
														<div *ngIf="puntuacio.nota">
															<span class="float-right bold">
																{{ puntuacio.nota | number:'0.2-2' }}<span class="text-muted"><small> /{{ prova_avaluacio.nota_total}}</small></span>
															</span>
														</div>
													</ng-template>
												</div>
											</td>
										</tr>
										<!-- <tr>
											<td style="border-top: 2px solid #eceeef; color: #636c72">
												Nota promig
											</td>
											<td 
											style="border-top: 2px solid #eceeef"
											*ngFor="let prova of proves">
												<span class="float-right"
												style="color: #636c72;">
													{{ prova?.nota_mitja | number: '1.0-2' }}
												</span>
											</td>
										</tr> -->
									</tbody>
								</table>
							</div>
							<div *ngIf="assignatura.proves_assignatura?.length == 0">
								<div class="alert alert-warning" role="alert">
									No hi ha cap alumne ...
								</div>
							</div>
						</div>



					</div><!-- Alumnes - list -->

					<div class="tab-pane fade" id="professors" role="tabpanel" aria-labelledby="professors-tab">

						<section class="row text-center placeholder">
							<div *ngFor="let professor of assignatura.professor_assignatures" class="col-xs-6 col-sm-3 col-md-3 col-lg-2">

								<i 
								class="material-icons"
								style="font-size: 120px; cursor: pointer; color: #e9ecef;"
								routerLink="/assignatures/{{ assignatura.id }}" 
								routerLinkActive="active">
									lens
								</i>
								<a routerLink="/assignatures/{{ assignatura.id }}" routerLinkActive="active">{{ professor.nom}} {{ professor.primer_cognom }}</a>

							</div>
						</section>

				</div>

			</div>
		</div>




			<!-- Professors -->

<!-- 			<div class="tab-pane fade" id="professors" role="tabpanel" aria-labelledby="professors-tab">

				<section class="row text-center placeholder">
					<div *ngFor="let professor of assignatura.professor_assignatures" class="col-xs-6 col-sm-3 col-md-3 col-lg-2">

						<i 
						class="material-icons"
						style="font-size: 120px; cursor: pointer; color: #e9ecef;"
						routerLink="/assignatures/{{ assignatura.id }}" 
						routerLinkActive="active">
							lens
						</i>
						<a routerLink="/assignatures/{{ assignatura.id }}" routerLinkActive="active">{{ professor.nom}} {{ professor.primer_cognom }}</a>

					</div>
				</section> -->
			
				<!-- <div class="col-sm-12 col-md-6">
					<div style="display: block;">
						<canvas *ngIf="ready_chart == true" 
						baseChart
						width="200px" 
						height="150px"
						[datasets]="lineChartData"
						[labels]="lineChartLabels"
						[options]="lineChartOptions"
						[colors]="lineChartColors"
						[legend]="lineChartLegend"
						[chartType]="lineChartType"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)">
						</canvas>
					</div>
				</div> -->


	</div>

</div>