
<!-- 
	This is an asyncronous request so that means that basically it's going to wrap the data and it is going to change this.video in real time. So it is posible that while the template is loading, the get request has not finished to get the data from the backend. 
-->

<div class="container">

	<div *ngIf="!assignatura">
		<p>Loading ...</p>
	</div>

	<div *ngIf="assignatura">

		<br>

		<nav aria-label="breadcrumb" role="navigation">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
				<li class="breadcrumb-item" ><a routerLink="/assignatures/" routerLinkActive="active">Assignatures</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ assignatura.nom }}</li>
			</ol>
		</nav>

		<!-- Edit button -->
		<button 
		type="button" 
		class="btn btn-secondary float-right"
		routerLink="/assignatures/{{ assignaturaId }}/edit" 
		routerLinkActive="active">
		Editar
		</button>
		
		<!-- Title -->
		<div class="mt-3">
			<h1>
				{{ assignatura.nom }}
				<small class="text-muted" style="font-size: 20px;">
					Curs {{ assignatura.curs }}
				</small>
			</h1>
			<!-- <p>Curs <a [routerLink]="['/']">{{ assignatura.curs }}</a></p> -->
		</div>

		<div class="row text-center" *ngIf="assignatura.assignatura_avaluacions.length==0">
			<div class="col-12">
				<div class="alert alert-warning" role="alert" style="padding: 20px 20px;">
					No hi ha cap avaluació. Feu click <a class="alert-link clickable" [routerLink]="['/avaluacions','add']">aquí</a> per afegir-ne.
				</div>
			</div>
		</div>


		<div class="row" *ngIf="assignatura.assignatura_avaluacions?.length>0">
			<div class="col float-right">

				<form>
					<dt>
						<label class="form-label" for="curs-assignatura">Seleccioneu avaluació</label>
					</dt>
					<dd>
						<select
						(change)="onChangeAvaluacio($event)"
						class="form-control" 
						id="avaluacio-assignatura"
						name="curs">
							<option 
							*ngFor="let avaluacio of assignatura.assignatura_avaluacions"
							[id]="avaluacio.id">
								Avaluació {{ avaluacio.nom }}
							</option>
						</select>
					</dd>
				</form>

			</div>
		</div>

		<div class="row">
			<div class="col">

				<hr style="margin-top: 20px;">

				<!-- Pills -->
				<ul class="nav nav-pills" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="proves-tab" data-toggle="tab" href="#proves" role="tab" aria-controls="proves" aria-selected="true">Proves</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="dimensions-tab" data-toggle="tab" href="#dimensions" role="tab" aria-controls="dimensions" aria-selected="false">Dimensions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="professors-tab" data-toggle="tab" href="#professors" role="tab" aria-controls="professors" aria-selected="false">Professors</a>
					</li>
				</ul>



				<div style="margin-top: 20px;" class="tab-content" id="myTabContent">

					<!-- Proves - list -->
					<div 
					class="tab-pane fade show active" 
					id="proves" 
					role="tabpanel" 
					aria-labelledby="proves-tab">

						<div *ngIf="assignatura?.assignatura_avaluacions?.length>0">
							<div
							*ngIf="proves?.length==0">
								<div class="alert alert-warning text-center" role="alert" style="padding: 20px 20px;">
									No hi ha cap prova. Feu click <a class="alert-link clickable" [routerLink]="['/proves','add']">aquí</a> per afegir-ne.
								</div>
							</div>
						</div>

						<h3 *ngIf="proves?.length>0">Proves</h3>

						<div class="row">
							<div *ngFor="let prova of proves" class="col-sm-6 col-md-4 col-lg-3">
								<div class="card">
									<div class="card-body">
										<span class="float-right badge badge-pill badge-secondary" style="border-radius: 30px; padding: 14px 8px; font-weight: 400;">{{ prova.pes_total | percent:'0.0-1' }}</span>
										<h4 class="card-title" style="margin-top: 10px;">{{ prova.nom }}</h4>
										<p class="card-text"><small class="text-muted">{{ prova.data | date }}</small></p>
										<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
									</div>
								</div>
							</div>
						</div>

						<div 
						*ngIf="proves?.length>0"
						class="table-responsive">

							<!-- <table class="table table-sm table-hover">
								<thead>
									<tr>
										<th class="border-top-0">Prova</th>
										<th class="border-top-0">Data</th>
										<th class="border-top-0">
											<div *ngIf="prova_avaluacio.pes_total == 1">
												Pes prova
											</div>
											<div *ngIf="prova_avaluacio.pes_total != 1">
												<ng-template #popTemplate><div [innerHtml]="html"> </div></ng-template>
												<span [tooltip]="popTemplate">
													Pes prova
												</span>
											</div>
										</th>
										<th class="border-top-0">
											<span class="float-right">
												Puntació mitja
											</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let prova of proves">
										<td><a routerLink="/assignatures/{{ assignaturaId }}/proves/{{ prova.id }}" routerLinkActive="active">{{ prova.nom }}</a></td>
										<td>{{ prova.data | date }}</td>
										<td>
											<div *ngIf="prova_avaluacio.pes_total == 1">
												{{ prova.pes_total | percent:'0.0-1' }}
											</div>
											<div *ngIf="prova_avaluacio.pes_total != 1">
												<span class="text-danger">{{ prova.pes_total | percent:'0.0-1' }}</span>
											</div>
										</td>
										<td *ngIf="prova.nota_mitja">
											<span class="float-right bold">
												{{ prova.nota_mitja | number:'1.2-2'}}<span class="text-muted"><small> /{{ prova.nota_total}}</small></span>
											</span>
										</td>
										<td *ngIf="!prova.nota_mitja">
											<span class="badge badge-warning float-right" style="padding-top: 6px; padding-bottom: 6px;">Pendent</span>
										</td>
									</tr>
								</tbody>
							</table> -->

							<h3>Resultats</h3>

							<div *ngFor="let classe of classes">

								<div *ngIf="classe.alumne_classe.length>0">

									<div *ngIf="alumnes" class="table-responsive">
										<table class="table table-sm table-hover">
											<thead>
												<tr>
													<th class="border-top-0">Classe {{ classe.nom }}</th>
													<th class="border-top-0" *ngFor="let prova of proves">
														<span class="float-right">
															<!-- <span style="font-weight: 400;" class="float-right text-muted">{{ prova.pes_total | percent:'0.0-1' }}</span>
															<br> -->
															{{ prova.nom }} <span class="text-muted" style="font-weight: 400;"><small>({{ prova.pes_total | percent:'0.0-1' }})</small></span>
														</span>
													</th>
													<th class="border-top-0">
														<span class="float-right">
															<div *ngIf="prova_avaluacio.pes_total == 1">
																Total <span class="text-muted" style="font-weight: 400;"><small>({{ prova_avaluacio.pes_total | percent:'0.0-1' }})</small></span>
															</div>
															<div *ngIf="prova_avaluacio.pes_total != 1">
																<ng-template #popTemplate><div [innerHtml]="html"> </div></ng-template>
																<span [tooltip]="popTemplate">
																	Total <span class="text-danger" style="font-weight: 400;"><small>({{ prova_avaluacio.pes_total | percent:'0.0-1' }})</small></span>
																</span>
															</div>
														</span>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let alumne of classe.alumne_classe">
													<td>
														<a 
														routerLink="/alumnes/{{ alumne.id }}" routerLinkActive="active">
															{{ alumne.nom }} {{ alumne.primer_cognom }} {{ alumne.segon_cognom }}
														</a>
													</td>
													<td *ngFor="let prova of proves">
														<div *ngFor="let puntuacio of prova.notes_prova">
															<div *ngIf="puntuacio.alumne == alumne.id; then thenBlock else elseBlock">...</div>
															<ng-template #thenBlock>
																<div *ngIf="puntuacio.nota">
																	<span class="float-right">
																		{{ puntuacio.nota | number:'0.2-2' }}<span class="text-muted"><small> /{{ prova.nota_total}}</small></span>
																	</span>
																</div>
															</ng-template>
														</div>
													</td>
													<td>
														<div *ngFor="let puntuacio of prova_avaluacio?.notes_prova">
															<div *ngIf="puntuacio.alumne == alumne.id; then thenBlock else elseBlock">...</div>
															<ng-template #thenBlock>
																<div *ngIf="puntuacio.nota">
																	<span class="float-right bold">
																		{{ puntuacio.nota | number:'0.2-2' }}<span class="text-muted"><small> /{{ prova_avaluacio.nota_total}}</small></span>
																	</span>
																</div>
															</ng-template>
														</div>
													</td>
												</tr>
												<!-- <tr>
													<td style="border-top: 2px solid #eceeef; color: #636c72">
														Nota promig
													</td>
													<td 
													style="border-top: 2px solid #eceeef"
													*ngFor="let prova of proves">
														<span class="float-right"
														style="color: #636c72;">
															{{ prova?.nota_mitja | number: '1.0-2' }}
														</span>
													</td>
												</tr> -->
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Proves - list -->


					<!-- Dimensions - list -->
					<div 
					class="tab-pane fade" 
					id="dimensions" 
					role="tabpanel" 
					aria-labelledby="dimensions-tab">
						
						<div *ngIf="assignatura?.assignatura_avaluacions?.length>0">
							<div
							*ngIf="dimensions?.length==0">
								<div class="alert alert-warning text-center" role="alert" style="padding: 20px 20px;">
									No hi ha cap dimensio. Feu click <a class="alert-link clickable" [routerLink]="['/dimensions','add']">aquí</a> per afegir-ne.
								</div>
							</div>
						</div>

						<h3 *ngIf="dimensions?.length>0">Dimensions</h3>

						<div class="row">
							<div *ngFor="let dimensio of dimensions" class="col-sm-6 col-md-4 col-lg-3">
								<div class="card">
									<div class="card-body">
										<span class="float-right badge badge-pill badge-secondary" style="border-radius: 30px; padding: 14px 8px; font-weight: 400;">{{ dimensio.pes_total | percent:'0.0-1' }}</span>
										<h4 class="card-title" style="margin-top: 10px;">{{ dimensio.nom | words : 1}}</h4>
										<p class="card-text"><small class="text-muted">{{ dimensio.descripcio | words : 1 }}</small></p>
										<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
									</div>
								</div>
							</div>
						</div>

						<div 
						*ngIf="dimensions?.length>0"
						class="table-responsive">

							<!-- <table class="table table-sm table-hover">
								<thead>
									<tr>
										<th class="border-top-0">Dimensió</th>
										<th class="border-top-0">Descripció</th>
										<th class="border-top-0">
											<div *ngIf="prova_avaluacio.pes_total == 1">
												Pes dimensió
											</div>
											<div *ngIf="prova_avaluacio.pes_total != 1">
												<ng-template #popTemplate><div [innerHtml]="html"> </div></ng-template>
												<span [tooltip]="popTemplate">
													Pes dimensió
												</span>
											</div>
										</th>
										<th class="border-top-0">
											<span class="float-right">
												Puntació mitja
											</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let dimensio of dimensions">
										<td><a routerLink="/assignatures/{{ assignaturaId }}/proves/{{ dimensio.id }}" routerLinkActive="active">{{ dimensio.nom }}</a></td>
										<td>{{ dimensio.descripcio }}</td>
										<td>
											<div *ngIf="prova_avaluacio.pes_total == 1">
												{{ dimensio.pes_total | percent:'0.0-1' }}
											</div>
											<div *ngIf="prova_avaluacio.pes_total != 1">
												<span class="text-danger">{{ dimensio.pes_total | percent:'0.0-1' }}</span>
											</div>
										</td>
										<td *ngIf="dimensio.nota_mitja">
											<span class="float-right bold">
												{{ dimensio.nota_mitja | number:'1.2-2'}}<span class="text-muted"><small> /{{ dimensio.nota_total}}</small></span>
											</span>
										</td>
										<td *ngIf="!dimensio.nota_mitja">
											<span class="badge badge-warning float-right" style="padding-top: 6px; padding-bottom: 6px;">Pendent</span>
										</td>
									</tr>
								</tbody>
							</table> -->

							<h3>Resultats</h3>

							<div *ngFor="let classe of classes">

								<div *ngIf="classe.alumne_classe.length>0">

									<div *ngIf="alumnes" class="table-responsive">
										<table class="table table-sm table-hover">
											<thead>
												<tr>
													<th class="border-top-0">Classe {{ classe.nom }}</th>
													<th class="border-top-0" *ngFor="let dimensio of dimensions">
														<span class="float-right">
															<!-- <span style="font-weight: 400;" class="float-right text-muted">{{ dimensio.pes_total | percent:'0.0-1' }}</span>
															<br> -->
															{{ dimensio.nom }} <span class="text-muted" style="font-weight: 400;"><small>({{ dimensio.pes_total | percent:'0.0-1' }})</small></span>
														</span>
													</th>
													<th class="border-top-0">
														<span class="float-right">
															<div *ngIf="dimensio_avaluacio.pes_total == 1">
																Total <span class="text-muted" style="font-weight: 400;"><small>({{ dimensio_avaluacio.pes_total | percent:'0.0-1' }})</small></span>
															</div>
															<div *ngIf="dimensio_avaluacio.pes_total != 1">
																<ng-template #popTemplate><div [innerHtml]="html"> </div></ng-template>
																<span [tooltip]="popTemplate">
																	Total <span class="text-danger" style="font-weight: 400;"><small>({{ dimensio_avaluacio.pes_total | percent:'0.0-1' }})</small></span>
																</span>
															</div>
														</span>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let alumne of classe.alumne_classe">
													<td>
														<a 
														routerLink="/alumnes/{{ alumne.id }}" routerLinkActive="active">
															{{ alumne.nom }} {{ alumne.primer_cognom }} {{ alumne.segon_cognom }}
														</a>
													</td>
													<td *ngFor="let dimensio of dimensions">
														<div *ngFor="let puntuacio of dimensio.notes_dimensio">
															<div *ngIf="puntuacio.alumne == alumne.id; then thenBlock else elseBlock">...</div>
															<ng-template #thenBlock>
																<div *ngIf="puntuacio.nota">
																	<span class="float-right">
																		{{ puntuacio.nota | number:'0.2-2' }}<span class="text-muted"><small> /{{ dimensio.nota_total}}</small></span>
																	</span>
																</div>
															</ng-template>
														</div>
													</td>
													<td>
														<div *ngFor="let puntuacio of dimensio_avaluacio?.notes_dimensio">
															<div *ngIf="puntuacio.alumne == alumne.id; then thenBlock else elseBlock">...</div>
															<ng-template #thenBlock>
																<div *ngIf="puntuacio.nota">
																	<span class="float-right bold">
																		{{ puntuacio.nota | number:'0.2-2' }}<span class="text-muted"><small> /{{ dimensio_avaluacio.nota_total}}</small></span>
																	</span>
																</div>
															</ng-template>
														</div>
													</td>
												</tr>
												<!-- <tr>
													<td style="border-top: 2px solid #eceeef; color: #636c72">
														Nota promig
													</td>
													<td 
													style="border-top: 2px solid #eceeef"
													*ngFor="let prova of proves">
														<span class="float-right"
														style="color: #636c72;">
															{{ prova?.nota_mitja | number: '1.0-2' }}
														</span>
													</td>
												</tr> -->
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Dimensions - list -->

					<div class="tab-pane fade" id="professors" role="tabpanel" aria-labelledby="professors-tab">


							<div class="row d-inline">
								<div *ngFor="let professor of assignatura.professor_assignatures" class="col-sm-6 col-md-6 col-lg-4">
									<div class="card" style="width: 20rem;">
										<img class="card-img-top" src="/assets/img/AA924.jpg" alt="Card image cap">
										<div class="card-body">
											<h4 class="card-title" style="margin-top: 10px;">{{ professor.nom }} {{ professor.primer_cognom }}</h4>
											<p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p>
										</div>
									</div>
								</div>
							</div>						

						<!-- <section class="row text-center placeholder">
							<div *ngFor="let professor of assignatura.professor_assignatures" class="col-xs-6 col-sm-3 col-md-3 col-lg-2">

								<i 
								class="material-icons"
								style="font-size: 120px; cursor: pointer; color: #e9ecef;"
								routerLink="/assignatures/{{ assignatura.id }}" 
								routerLinkActive="active">
									lens
								</i>
								<a routerLink="/assignatures/{{ assignatura.id }}" routerLinkActive="active">{{ professor.nom}} {{ professor.primer_cognom }}</a>

							</div>
						</section> -->

					</div>

				</div>



			</div>
		</div>

	</div>
</div>


