
<!-- 
	This is an asyncronous request so that means that basically it's going to wrap the data and it is going to change this.video in real time. So it is posible that while the template is loading, the get request has not finished to get the data from the backend. 
-->

<div class="container">

	<div *ngIf="!assignatura">
		<p>Loading ...</p>
	</div>

	<div *ngIf="assignatura">

		<br>

		<nav aria-label="breadcrumb" role="navigation">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
				<li class="breadcrumb-item" ><a routerLink="/assignatures/" routerLinkActive="active">Assignatures</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ assignatura.nom }}</li>
			</ol>
		</nav>

		<!-- Edit button -->
		<button 
		type="button" 
		class="btn btn-secondary float-right"
		routerLink="/assignatures/{{ assignaturaId }}/edit" 
		routerLinkActive="active">
		Editar
		</button>
		
		<!-- Title -->
		<div class="mt-3">
			<h1>
				{{ assignatura.nom }}
				<small class="text-muted" style="font-size: 20px;">
					Curs {{ assignatura.curs }}
				</small>
			</h1>
			<!-- <p>Curs <a [routerLink]="['/']">{{ assignatura.curs }}</a></p> -->
		</div>

		<div class="row text-center" *ngIf="assignatura.assignatura_avaluacions.length==0">
			<div class="col-12">
				<div class="alert alert-warning" role="alert" style="padding: 20px 20px;">
					No hi ha cap avaluació. Feu click <a class="alert-link clickable" [routerLink]="['/avaluacions','add']">aquí</a> per afegir-ne.
				</div>
			</div>
		</div>


		<div class="row" *ngIf="assignatura.assignatura_avaluacions?.length>0">
			<div class="col float-right">

				<form>
					<dt>
						<label class="form-label" for="curs-assignatura">Seleccioneu avaluació</label>
					</dt>
					<dd>
						<select
						(change)="onChangeAvaluacio($event)"
						class="form-control" 
						id="avaluacio-assignatura"
						name="curs">
							<option 
							*ngFor="let avaluacio of assignatura.assignatura_avaluacions"
							[id]="avaluacio.id">
								Avaluació {{ avaluacio.nom }}
							</option>
						</select>
					</dd>
				</form>

			</div>
		</div>

		<div class="row">
			<div class="col">

				<hr style="margin-top: 20px;">

				<!-- Pills -->
				<ul class="nav nav-pills" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="dimensions-tab" data-toggle="tab" href="#dimensions" role="tab" aria-controls="dimensions" aria-selected="false">Dimensions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="professors-tab" data-toggle="tab" href="#professors" role="tab" aria-controls="professors" aria-selected="false">Professors</a>
					</li>
				</ul>



				<div style="margin-top: 20px;" class="tab-content" id="myTabContent">


					<!-- Dimensions - list -->
					<div 
					class="tab-pane fade" 
					id="dimensions" 
					role="tabpanel" 
					aria-labelledby="dimensions-tab">
						

						<div *ngIf="dimensions?.length>0">

							<accordion>
								<accordion-group *ngFor="let classe of classes" [heading]="classe.__unicode__">
									<div class="row"> <!-- style="padding: 0px 15px;" -->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
											<!-- <dt>
												<label class="form-label">Dimensions</label>
											</dt> -->
											<tabset [vertical]="true" type="pills">
												<tab heading="Total"></tab>
												<tab 
												*ngFor="let dimensio of dimensions" 
												[heading]="dimensio.nom"
												[id]="dimensio.id"
												(select)="onChangeDimensio($event)">
												</tab>
											</tabset>
										</div>
										<br>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
											<div *ngIf="dimensioSelected">
												<h4 style="margin-top:0px;">{{dimensioSelected.nom}}</h4>

												<table style="font-size: 14px;" *ngIf="dimensioSelected?.subdimensions?.length>0" class="table table-sm table-header-rotated table-hover">
													<thead>
														<tr>
															<th></th>
															<th class="rotate-45" *ngFor="let subdimensio of dimensioSelected?.subdimensions">
																<div style="border-left:2px solid #eceeef;"
																[ngStyle]="{'background-color':subdimensio?.toggle ? '#eceeef' : 'white'}">
																	<span
																	style="font-weight:400;"
																	[id]="subdimensio?.id"
																	(click)="clickDimensio($event)"
																	class="float-right clickable">

																		<i style="font-size:14px;" class="material-icons" *ngIf="subdimensio?.collapsed && subdimensio?.toggle" [id]="subdimensio?.id">
																			add_circle_outline
																		</i>
																		<i style="font-size:14px;" class="material-icons" *ngIf="!subdimensio?.collapsed && subdimensio?.toggle" [id]="subdimensio?.id">
																			remove_circle_outline
																		</i>
																		<strong *ngIf="subdimensio?.toggle" [id]="subdimensio?.id">{{subdimensio?.nom | words:3}}</strong>
																		<strong *ngIf="!subdimensio?.toggle" [id]="subdimensio?.id" style="font-weight:400">{{subdimensio?.nom | words:3}}</strong>
																		
																	</span>
																</div>
															</th>
															<th></th>
														</tr>
														<tr>
															<th>Alumne</th>
															<th *ngFor="let subdimensio of dimensioSelected?.subdimensions">
																<div [ngStyle]="{'background-color':subdimensio?.toggle ? '#eceeef' : 'white'}">
																	<span class="float-right" *ngIf="subdimensio?.toggle">
																		{{subdimensio.pes_total | percent:'0.0-0'}}
																	</span>
																	<span class="float-right" *ngIf="!subdimensio?.toggle" style="font-weight:400;">
																		{{subdimensio.pes_total | percent:'0.0-0'}}
																	</span>
																</div>
															</th>
															<th>
																<div>
																	<span class="float-right">
																		Total
																	</span>
																</div>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let alumne of classe.alumne_classe">
															<td style="width: 90%;">
																<a routerLink="/alumnes/{{alumne.id}}" routerLinkActive="active">{{ alumne.nom }} {{ alumne.primer_cognom }} {{ alumne.segon_cognom }}</a>
															</td>
															<td style="width: 5%;" *ngFor="let subdimensio of dimensioSelected?.subdimensions" [ngStyle]="{'background-color':subdimensio?.toggle ? '#eceeef' : 'white'}">
																<span *ngFor="let nota of subdimensio.notes">
																	<span *ngIf="nota.alumne==alumne.id" class="float-right">
																		<span *ngIf="subdimensio?.toggle">
																			<strong>{{ nota.nota | number:'0.1-1' }}</strong>
																		</span>
																		<span *ngIf="!subdimensio?.toggle">
																			{{ nota.nota | number:'0.1-1' }}
																		</span>
																	</span>
																</span>
															</td>
															<td style="width: 5%;">
																<span *ngFor="let nota of dimensioSelected?.notes">
																	<span *ngIf="nota.alumne==alumne.id" class="float-right">
																		<strong>{{ nota.nota | number:'0.1-1' }}</strong> <!-- <small class="text-muted">/{{dimensioSelected?.nota_total}}</small> -->
																	</span>
																</span>
															</td>
														</tr>
														<tr>
															<td style="width: 90%;"></td>
															<td style="width: 5%;" *ngFor="let subdimensio of dimensioSelected?.subdimensions" [ngStyle]="{'background-color':subdimensio?.toggle ? '#eceeef' : 'white'}">
																<span>
																	<div class="text-muted float-right">/{{subdimensio.nota_total}}</div>
																</span>
															</td>
															<td style="width: 5%;">
																<span>
																	<div class="text-muted float-right">/{{dimensioSelected?.nota_total}}</div>
																</span>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</accordion-group>
							</accordion>


							<!-- <h3>Resultats</h3>

							<div *ngFor="let classe of classes">

								<div *ngIf="classe.alumne_classe.length>0">

									<div *ngIf="alumnes" class="table-responsive">
										<table class="table table-sm table-hover">
											<thead>
												<tr>
													<th class="border-top-0">Classe {{ classe.nom }}</th>
													<th class="border-top-0" *ngFor="let dimensio of dimensions">
														<span class="float-right">
															{{ dimensio.nom }} <span class="text-muted" style="font-weight: 400;"><small>({{ dimensio.pes_total | percent:'0.0-1' }})</small></span>
														</span>
													</th>
													<th class="border-top-0">
														<span class="float-right">
															<div *ngIf="dimensio_avaluacio.pes_total == 1">
																Total <span class="text-muted" style="font-weight: 400;"><small>({{ dimensio_avaluacio.pes_total | percent:'0.0-1' }})</small></span>
															</div>
															<div *ngIf="dimensio_avaluacio.pes_total != 1">
																<ng-template #popTemplate><div [innerHtml]="html"> </div></ng-template>
																<span [tooltip]="popTemplate">
																	Total <span class="text-danger" style="font-weight: 400;"><small>({{ dimensio_avaluacio.pes_total | percent:'0.0-1' }})</small></span>
																</span>
															</div>
														</span>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let alumne of classe.alumne_classe">
													<td>
														<a 
														routerLink="/alumnes/{{ alumne.id }}" routerLinkActive="active">
															{{ alumne.nom }} {{ alumne.primer_cognom }} {{ alumne.segon_cognom }}
														</a>
													</td>
													<td *ngFor="let dimensio of dimensions">
														<div *ngFor="let puntuacio of dimensio.notes_dimensio">
															<div *ngIf="puntuacio.alumne == alumne.id; then thenBlock else elseBlock">...</div>
															<ng-template #thenBlock>
																<div *ngIf="puntuacio.nota">
																	<span class="float-right">
																		{{ puntuacio.nota | number:'0.2-2' }}<span class="text-muted"><small> /{{ dimensio.nota_total}}</small></span>
																	</span>
																</div>
															</ng-template>
														</div>
													</td>
													<td>
														<div *ngFor="let puntuacio of dimensio_avaluacio?.notes_dimensio">
															<div *ngIf="puntuacio.alumne == alumne.id; then thenBlock else elseBlock">...</div>
															<ng-template #thenBlock>
																<div *ngIf="puntuacio.nota">
																	<span class="float-right bold">
																		{{ puntuacio.nota | number:'0.2-2' }}<span class="text-muted"><small> /{{ dimensio_avaluacio.nota_total}}</small></span>
																	</span>
																</div>
															</ng-template>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div> -->
						</div>
					</div><!-- Dimensions - list -->

					<div class="tab-pane fade" id="professors" role="tabpanel" aria-labelledby="professors-tab">


							<div class="row d-inline">
								<div *ngFor="let professor of assignatura.professor_assignatures" class="col-sm-6 col-md-6 col-lg-4">
									<div class="card" style="width: 20rem;">
										<img class="card-img-top" src="/assets/img/AA924.jpg" alt="Card image cap">
										<div class="card-body">
											<h4 class="card-title" style="margin-top: 10px;">{{ professor.nom }} {{ professor.primer_cognom }}</h4>
											<p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p>
										</div>
									</div>
								</div>
							</div>						

						<!-- <section class="row text-center placeholder">
							<div *ngFor="let professor of assignatura.professor_assignatures" class="col-xs-6 col-sm-3 col-md-3 col-lg-2">

								<i 
								class="material-icons"
								style="font-size: 120px; cursor: pointer; color: #e9ecef;"
								routerLink="/assignatures/{{ assignatura.id }}" 
								routerLinkActive="active">
									lens
								</i>
								<a routerLink="/assignatures/{{ assignatura.id }}" routerLinkActive="active">{{ professor.nom}} {{ professor.primer_cognom }}</a>

							</div>
						</section> -->

					</div>

				</div>



			</div>
		</div>

	</div>
</div>


