
<div class="container">

	<div *ngIf="!alumne">
		<p>Loading ...</p>
	</div>

	<div *ngIf="alumne">

		<br>

		<nav aria-label="breadcrumb" role="navigation">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
				<li class="breadcrumb-item"><a routerLink="/alumnes/" routerLinkActive="active">Alumnes</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ alumne.nom }} {{ alumne.primer_cognom }} {{ alumne.segon_cognom }}</li>
			</ol>
		</nav>
		<div class="row">

			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="mt-3">
					<img src="/assets/img/AA924.png" class="img-fluid rounded" alt="Responsive image">
					<p class="card-username" style="margin-top: 15px;">{{ alumne.nom }} {{ alumne.primer_cognom }} {{ alumne.segon_cognom }}</p>
					<p class="card-username" style="font-size: 14px; line-height: 20px;">{{ alumne.bio }}</p>
					<button type="button" class="btn btn-secondary btn-block">Edita alumne</button>
					<hr>
					<div class="col-12">
						<!-- <div class="row">
							<i class="material-icons" style="color:#666; font-size:20px;">location_on</i>
							<span class="card-username" style="font-size: 14px; line-height: 20px; padding-left: 5px;">{{ alumne.lloc }}</span>
						</div> -->
						<div class="row" style="margin-top: 15px;">
							<i class="material-icons" style="color:#666; font-size:20px;">email</i>
							<span class="card-username" style="font-size: 14px; line-height: 20px; padding-left: 5px;">{{ alumne.email }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-9 col-sm-9 col-md-9">

				<div class="mt-3">

				<!-- Pills -->
				<ul class="nav nav-pills" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="assignatures-tab" data-toggle="tab" href="#assignatures" role="tab" aria-controls="assignatures" aria-selected="true">Assignatures</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="peerformanc-tab" data-toggle="tab" href="#performance" role="tab" aria-controls="performance" aria-selected="false">Performance</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" id="professors-tab" data-toggle="tab" href="#professors" role="tab" aria-controls="professors" aria-selected="false">Professors</a>
					</li> -->
				</ul>

				<!-- <hr> -->
		
				<div style="margin-top: 20px;" class="tab-content" id="myTabContent">

					<!-- assigantures - list -->
					<div class="tab-pane fade show active" id="assignatures" role="tabpanel" aria-labelledby="assignatures-tab">

						<accordion>
							<accordion-group *ngFor="let assignatura of alumne.assignatures">
								<div accordion-heading>
									<span><a routerLink="/assignatures/{{ assignatura.id }}" routerLinkActive="active">{{ assignatura.nom }}</a></span>
									<span class="badge badge-secondary float-right pull-right" style="margin-top: 3px; margin-bottom: 3px;">{{ assignatura.proves.count }}</span>
								</div>
								<div *ngIf="ready == true" class="table-responsive">
									<table class="table table-sm table-hover">
										<thead>
											<tr>
												<th>Prova</th>
												<th>Data</th>
												<th>Pes</th>
												<th>Puntació</th>
											</tr>
										</thead>
										<tbody>

											<!-- Proves rows -->
											<tr *ngFor="let prova of assignatura.proves">
												<td><a routerLink="/assignatures/{{ assignatura.id }}/{{ prova.id }}" routerLinkActive="active">{{ prova.nom }}</a></td>
												<td>{{ prova.data | date }}</td>
												<td>{{ prova.pes_nota | percent: '1.0-1' }}</td>
												<td *ngIf="prova.puntuacio">{{ prova.puntuacio | number: '1.1-2' }} / {{ prova.puntuacio_total }}</td>
												<td *ngIf="!prova.puntuacio">
													<span class="badge badge-warning" style="padding-top: 6px; padding-bottom: 6px;">Pendent</span>
												</td>
											</tr>

											<!-- Total row -->
											<tr>
												<td style="border-top: 2px solid #eceeef"><strong>Total</strong></td>
												<td style="border-top: 2px solid #eceeef"></td>
												<td style="border-top: 2px solid #eceeef"><strong>{{ assignatura.pes_total | percent: '1.0-1' }}</strong></td>
												<td style="border-top: 2px solid #eceeef" *ngIf="assignatura.nota_total"><strong>{{ assignatura.nota_total | number : '1.1-2' }} / 10</strong></td>
												<td style="border-top: 2px solid #eceeef" *ngIf="!assignatura.nota_total">
													<span class="badge badge-warning" style="padding-top: 6px; padding-bottom: 6px;">Pendent</span>
												</td>
											</tr>
										</tbody>
									</table>

									<div *ngIf="assignatura.pes_total == 1; then thenBlock else elseBlock"></div>
									<ng-template #thenBlock></ng-template>
									<ng-template #elseBlock>
										<div class="alert alert-warning" role="alert">
											El pes total de les proves <strong>NO</strong> suma 100%.
										</div>
									</ng-template>

								</div>
							</accordion-group>
						</accordion>

					</div>

					<!-- performance - detail -->
					<div class="tab-pane fade" id="performance" role="tabpanel" aria-labelledby="performance-tab">
						<h2>...</h2>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>