<div class="container">
	<br>

	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
			<li class="breadcrumb-item" ><a routerLink="/assignatures/" routerLinkActive="active">Assignatures</a></li>
			<li class="breadcrumb-item active" aria-current="page">Nova assignatura</li>
		</ol>
	</nav>

	<div class="mt-3">

		<!-- Nova assignatura -->
		<h1>Nova assignatura</h1>

		<div class="row">
			<div class="col-12">

				<form 
				class="animated fadeIn"
				(ngSubmit)="newAssignatura()"
				#newAssignaturaForm="ngForm">

					<!-- Informacio general -->
					<dl class="form-group row">
						<div class="col">
							<dt>
								<label class="form-label" for="nom-assignatura">Nom assignatura</label>
							</dt>
							<dd>
								<input
								[(ngModel)]="assignatura.nom"
								type="text" 
								class="form-control" 
								id="nom-assignatura"
								name="nom"
								required>
							</dd>
						</div>
						<div class="col">
							<dt>
								<label class="form-label" for="curs-assignatura">Curs</label>
							</dt>
							<dd>
								<select
								[(ngModel)]="assignatura.curs"
								(change)="onChangeCurs($event)"
								class="form-control" 
								id="curs-assignatura"
								name="curs">
									<option 
									*ngFor="let curs of cursos"
									[id]="curs.id">
										{{ curs.nom }}
									</option>
								</select>
							</dd>
						</div>
					</dl>

					<!-- Bio -->
					<dl class="form-group">
						<dt>
							<label class="form-label" for="bio-assignatura">Bio</label>
						</dt>
						<dd>
							<textarea
							[(ngModel)]="assignatura.bio"
							class="form-control" 
							id="bio-assignatura" 
							rows="3"
							name="bio"></textarea>
						</dd>
					</dl>

					<!-- Classes - Alumnes -->
					<dl class="form-group row">
						<div class="col">
							<dt>
								<label class="form-label" for="classes-assignatura">Classes</label>
							</dt>
							<dd> 
								<div *ngIf="classes?.length==0">
									<div class="alert alert-warning" role="alert">
										No hi ha cap classe. Feu click <a class="alert-link clickable" [routerLink]="['/classes','add']">aquí</a> per afegir-ne.
									</div>
								</div>
								<div *ngFor="let classe of classes"
								class="list-group-item clearfix"
								style="display: block;">
									<span style="margin-right: 18px;">
										<input
										type="checkbox"
										name="classe-included"
										[(ngModel)]="classe.included"
										[id]="classe.id"
										(change)="onChange($event.target.id, $event.target.checked)">
									</span>
									<span>
										{{ classe.__unicode__ }}
									</span>
									<!-- <span class="float-right text-muted">
										({{ alumne.classe }})
									</span> -->
								</div>
							</dd>
						</div>
						<div class="col">
							<dt>
								<label class="form-label" for="alumnes-assignatura">Alumnes</label>
							</dt>
							<dd>
								<div *ngFor="let alumne of alumnes"
								class="list-group-item clearfix"
								style="display: block;">
									<span style="margin-right: 18px;">
										<input
										type="checkbox"
										value="checked"
										name="alumne-included"
										[(ngModel)]="alumne.included"
										[id]="alumne.id">
									</span>
									<span>
										{{ alumne.nom }} {{ alumne.primer_cognom }} {{ alumne.segon_cognom}}
									</span>
									<span class="float-right text-muted">
										({{ alumne.classe }})
									</span>
								</div>								
							</dd>
						</div>
					</dl>

					<hr>

					<!-- Add button -->
					<button 
					type="submit" 
					class="btn btn-success float-right"
					[disabled]="!newAssignaturaForm.valid">
					Afegir
					</button>

					<!-- Cancelar -->
					<button 
					type="button" 
					class="btn btn-secondary float-left"
					(click)="test()">
					Cancel·lar
					</button>

				</form>

			</div>
		</div>
	</div>
</div>