
<div 
class="bg"
style="height: 1000px">
	<section 
	class="jumbotron text-center"
	style="background-color: rgba(236, 238, 239, 0); border-radius: 0;">
		<div class="container">
			<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
			<div *ngIf="username" class="animated fadeIn">
				<h1 
				class="jumbotron-heading" 
				style="font-size: 5em; font-weight: 600; margin-top: 80px">
					Hola, {{ username }}!
				</h1>
				<p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
				<p>
					<a href="#" class="btn btn-outline-secondary">Main call to action</a>
				</p>

			</div>
		</div>
	</section>
	<!-- <img src="/assets/img/school.jpg" class="img-fluid" alt="Responsive image"> -->
</div>