<div class="container">
	<br>

	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Nova avaluació</li>
		</ol>
	</nav>

	<div class="row">
		<div class="col-12">
			<div class="mt-3">
					
				<!-- Nova assignatura -->
				<div class="mt-3">
					<h1>Nova avaluació</h1>
				</div>

				<!-- <div class="mt-3">
					<h4>Informació prova</h4>
				</div> -->

				<form
				class="animated fadeIn"
				(ngSubmit)="newAvaluacio()"
				#newAvaluacioForm="ngForm">

					<dl class="form-group row" style="padding-bottom:200px;">
						<div class="col-xs-12 col-sm-6">
							<dt>
								<label class="form-label" for="nom-avaluacio">Nom nova avaluació</label>
							</dt>
							<dd>
								<input
								[(ngModel)]="avaluacio.nom"
								name="nom"
								type="text" 
								class="form-control" 
								id="nom-avaluacio"
								required>
							</dd>
							<br><br>
							<dt>
								<label class="form-label" for="curs-avaluacio">Curs</label>
							</dt>
							<dd>
								<select 
								class="form-control" 
								id="curs-avaluacio"
								name="avaluacio.curs"
								[(ngModel)]="cursId" 
								(ngModelChange)="toCurs()"
								required>
									<option 
									*ngFor="let curs of cursos" 
									[ngValue]="curs.id">
										{{ curs.nom }}
									</option>
								</select>
							</dd>
							<dt>
								<label class="form-label" for="assignatura-avaluacio">Assignatura</label>
							</dt>
							<dd>
								<select 
								class="form-control" 
								id="assignatura-avaluacio"
								name="avaluacio.assignatura"
								[(ngModel)]="assignaturaId" 
								(ngModelChange)="toAssignatura()"
								required>
									<option 
									*ngFor="let assignatura of assignatures" 
									[ngValue]="assignatura.id">
										{{ assignatura.nom }}
									</option>
								</select>
							</dd>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div *ngIf="avaluacionsSelected?.length==0">
								<dt>
									<label class="form-label">Avaluacions existents ({{ assignaturaSelected?.__unicode__ }})</label>
								</dt>
								<div class="alert alert-warning text-center" role="alert" style="padding: 20px 20px;">
									No hi ha cap avaluació
								</div>
							</div>
							<div *ngIf="avaluacionsSelected?.length>0">
								<dt>
									<label class="form-label">Avaluacions existents ({{ assignaturaSelected?.__unicode__ }})</label>
								</dt>
								<accordion>
									<accordion-group *ngFor="let avaluacio of avaluacionsSelected">
										
										<div accordion-heading>
											<span>Avaluació {{ avaluacio?.nom }}</span>
											<span class="badge badge-secondary badge-pill float-right pull-right">{{ avaluacio?.proves_avaluacio.length }}</span>
										</div>
										<div *ngIf="avaluacio.proves_avaluacio?.length==0">
											<div class="alert alert-warning text-center" role="alert" style="padding: 20px 20px;">
												No hi ha cap prova 
											</div>
										</div>
										<div *ngIf="avaluacio.proves_avaluacio?.length>0" class="table-responsive">
											<table class="table table-sm table-hover">
												<thead>
													<tr>
														<th>Prova</th>
														<th>Data</th>
														<th>
															<span class="float-right">
																Pes
															</span>
														</th>
														<th>
															<span class="float-right">
																Nota mitja
															</span>
														</th>
													</tr>
												</thead>
												<tbody>
													<!-- Proves rows -->
													<tr *ngFor="let prova of avaluacio?.proves_avaluacio">
														<td><a routerLink="/assignatures/{{ assignatura?.id }}/{{ prova?.id }}" routerLinkActive="active">{{ prova?.nom }}</a></td>
														<td>{{ prova?.data | date }}</td>
														<td>
															<span class="float-right">
																{{ prova?.pes_total | percent: '1.0-0' }}
															</span>
														</td>
														<td *ngIf="prova?.nota_mitja">
															<span class="float-right">
																{{ prova?.nota_mitja | number: '1.2-2' }} / {{ prova?.nota_total }}
															</span>
														</td>
														<td *ngIf="!prova?.nota_mitja">
															<span class="badge badge-warning float-right" style="padding-top: 6px; padding-bottom: 6px;">Pendent</span>
														</td>
													</tr>
												</tbody>
											</table>
										</div>

									</accordion-group>
								</accordion>
							</div>
						</div>
					</dl>

				</form>

				<hr>
				<!-- <br> -->

				<!-- Add button -->
				<button 
				type="submit" 
				class="btn btn-success float-right"
				[disabled]="!newAvaluacioForm.valid"
				(click)="newAvaluacio()">
				Guardar
				</button>
				
				<!-- Cancelar -->
				<button 
				type="button" 
				class="btn btn-secondary float-left"
				[routerLink]="['/home']">
				Cancel·lar
				</button>

			</div>
		</div>
	</div>
</div>