/* You can add global styles to this file, and also import other style files */

/*body {
    background-color: #ffffff;
    font-family: "Ek Mukta", Arial, sans-serif;
}

.jumbotron {
    background-color: #EFEAE4;
}*/

body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("/assets/img/school-2.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	background-color: #fafafa;
}

.container {
  height: 1000px;
}

h1, h2 {
  margin: 25px 0px;
  font-weight: 600;
}

h4 {
	margin-bottom:15px;
}

.clickable {
  cursor: pointer;
}

.bg-faded {
    background-color: /*#323232;*/ #eceeef;
}

.text-red {
	color: #b92f2f;
}

.text-normal {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.card-username {
	color: #666;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
}

.form-label {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
}

.bold {
	font-weight: 600;
}

.icon-right {
	display: flex;
	margin-left: auto;
}

.nav-pills .nav-link.active {
	color: #007bff;
    cursor: default;
    background-color: #eceeef!important;
}

.img-circle{
  border-radius: 100%;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
