<!-- Title -->
<div class="mt-3">
	<h2>{{title}}</h2>
	<hr>
</div>

<div *ngFor="let avaluacio of copiedAssignatura.assignatura_avaluacions">

	<h4 style="margin-bottom: 20px;">Avaluació {{ avaluacio.nom }}</h4>

	<div class="list-group" *ngIf="avaluacio.proves_avaluacio?.length>0">

		<div *ngFor="let prova of avaluacio.proves_avaluacio" 
		class="list-group-item list-group-item-action clearfix">

				<a 
				routerLink="/assignatures/{{ assignatura.id }}/proves/{{ prova.id }}" 
				routerLinkActive="active">
					{{ prova.nom }}
				</a>
				<span class="icon-right">
					<a 
					routerLink="/assignatures/{{ assignatura.id }}/proves/{{ prova.id }}/edit" 
					routerLinkActive>
						<i class="material-icons" style="cursor: pointer;">mode_edit</i>
					</a>
					<!-- <a 
					class="btn btn-sm" 
					style="height: 0px; padding: 0px;"
					routerLinkActive
					(click)="deleteProva(prova.id)">
						<i class="material-icons" style="cursor: pointer; margin-left: 15px;">delete</i>
					</a> -->
					<a 
					routerLink="/assignatures/{{ assignatura.id }}/edit/proves"
					routerLinkActive
					[id]="prova.id"
					(click)="openModal($event, template)">
						<i class="material-icons" style="cursor: pointer; margin-left: 15px;">delete</i>
					</a>
				</span>

		</div>

	</div>

	<div class="text-center" *ngIf="!avaluacio.proves_avaluacio?.length>0">
		<div class="alert alert-warning" role="alert" style="padding: 20px 20px;">
			No hi ha cap prova. Feu click <a class="alert-link clickable" [routerLink]="['/proves','add']">aquí</a> per afegir-ne.
		</div>
	</div>

	<ng-template #template>
		<div class="modal-header">
			<h4 style="margin-top:0px;" class="modal-title pull-left">Eliminar {{prova.nom}}</h4>
			<button 
			type="button" 
			class="close pull-right" 
			aria-label="Close" 
			(click)="bsModalRef.hide()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-12">
					<span>
						<strong>
							Aquests canvis no es poden desfer.
						</strong>
					</span>
					<br>
					Segur que voleu eliminar aquesta prova?
					<button 
					type="button" 
					class="btn btn-danger float-right" 
					(click)="deleteProva(prova.id)">
						Eliminar
					</button>
				</div>
			</div>
		</div>
	</ng-template> 


</div>

<div *ngIf="!copiedAssignatura.assignatura_avaluacions?.length>0" class="text-center">
	<div class="alert alert-warning" role="alert" style="padding: 20px 20px;">
		No hi ha cap avaluació. Feu click <a class="alert-link clickable" [routerLink]="['/proves','add']">aquí</a> per afegir-ne.
	</div>
</div>

<!-- [routerLink]="['assignatures','assignatura.id', 'edit', 'proves']"
 -->
