<div class="container">
	<br>

	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
		</ol>
	</nav>

	<div class="row">
		<div class="col-12">
			<div class="mt-3">
					
				<!-- Nova assignatura -->
				<div class="mt-3">
					<h2>Nova classe</h2>
					<hr>
				</div>

				<!-- <div class="mt-3">
					<h4>Informació prova</h4>
				</div> -->

				<form
				class="animated fadeIn"
				(ngSubmit)="newClasse()"
				#newClasseForm="ngForm">

					<dl class="form-group row">
						<div class="col">
							<dt>
								<label class="form-label" for="nom-classe">Nom de la classe</label>
							</dt>
							<dd>
								<input
								[(ngModel)]="classe.nom"
								name="nom"
								type="text" 
								class="form-control" 
								id="nom-classe"
								required>
							</dd>
						</div>
						<div class="col">
							<dt>
								<label class="form-label" for="curs-classe">Curs</label>
							</dt>
							<dd>
								<select
								[(ngModel)]="classe.curs"
								class="form-control" 
								id="curs-classe"
								name="curs">
									<option *ngFor="let curs of cursos">{{ curs }}</option>
								</select>
							</dd>
						</div>
					</dl>


					<dl class="form-group" *ngIf="alumnes">
						<dt>
							<label class="form-label" for="alumnes-classe">Alumnes</label>
						</dt>
						<dd>
							<!-- Current alumnes -->
							<div *ngFor="let alumne of alumnes"
							class="list-group-item list-group-item-action clearfix">
								<span style="margin-right: 18px;">
									<input
									[(ngModel)]="alumne.included"
									name="alumne-included"
									[id]="alumne.id"
									(change)="onChange($event.target.id, $event.target.checked)"
									type="checkbox" 
									aria-label="Checkbox for following text input">
								</span>
								<a 
								routerLink="/alumnes/{{ alumne.id }}" 
								routerLinkActive="active">
									{{ alumne.fullName }}
								</a>
								<span class="icon-right">
									
								</span>
							</div>
						</dd>
					</dl>
				</form>

				<form
				class="animated fadeIn"
				(ngSubmit)="addAlumne()"
				#newAlumneForm="ngForm">

				<dl class="form-group">
						<dd>
							<!-- Add new alumnes -->
							<div class="row">
								<div class="col">
									<div 
									class="input-group input-group-md" style="height:44px;">
										<input
										[(ngModel)]="newAlumne.fullName"
										name="alumne-full-name"
										type="text" 
										class="form-control" 
										placeholder="Nou alumne" 
										aria-label="Text input with checkbox">
										<span class="input-group-btn">
											<button class="btn btn-secondary" type="button" (click)="addAlumne()">
												Afegir
											</button>
										</span>
									</div>
								</div>
							</div>
						</dd>
					</dl>

				</form>

				<hr>
				<!-- <br> -->

				<!-- Add button -->
				<button 
				type="submit" 
				class="btn btn-success float-right"
				[disabled]="!newClasseForm.valid">
				Afegir
				</button>
				
				<!-- Cancelar -->
				<button 
				type="button" 
				class="btn btn-secondary float-left"
				(click)="test()">
				Cancel·lar
				</button>

			</div>
		</div>
	</div>
</div>