<div 
class="bg"
style="height: 1000px">
	<div class="container">

<!-- 		<br>

		<nav aria-label="breadcrumb" role="navigation">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Login</li>
			</ol>
		</nav> -->


		<div class="row justify-content-center">
			<div class="col-md-8 col-sm-10 col-xs-12">

				<div class="card">
					<!-- Title -->
					<div class="row justify-content-center">
						<div class="col-12">
							<h1>{{ title }}</h1>
							<br>

							<form role="form" (submit)="login($event, username.value, password.value)">
								<div class="form-group">
									<label class="form-label" for="username">Username</label>
									<input type="text" #username class="form-control" id="username">
									<div style="margin-top: 10px;" *ngIf="usernameError" class="alert alert-danger" role="alert">	
										<span *ngFor="let error of usernameError">
											{{ error }}
										</span>
									</div>
								</div>
								<div class="form-group">
									<label class="form-label" for="password">Password</label>
									<input type="password" #password class="form-control" id="password">
									<div style="margin-top: 10px;" *ngIf="passwordError" class="alert alert-danger" role="alert">	
										<span *ngFor="let error of passwordError">
											{{ error }}
										</span>
									</div>
								</div>
								<div style="margin-top: 10px;" *ngIf="nonFieldError" class="alert alert-danger" role="alert">	
									<span *ngFor="let error of nonFieldError">
										{{ error }}
									</span>
								</div>
								<br>
								<div class="row">
									<div class="col">
										<button type="submit" class="btn btn-primary float-left">Submit</button>
										<a class="float-right align-middle" [routerLink]="['/signup']">Click here to signup</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>